<h2>Book: <%= @book.title %> </h2>
<ul>
<li>Author: <%= @book.author %> </li>
<li>Release Year: <%= @book.year %> </li>
<li>Genre: <%= @book.genre %> </li>
<li>Description: <%= @book.description %> </li>
</ul>
<p><%= link_to "Book Listing", books_path %></p>
